html, body {
	margin: 0;
	padding: 0;
	background: url(http://192.168.1.180:8080/?action=stream) top left no-repeat transparent;
	color: #000;
	font-family: sans-serif;
	width: 100%;
}

.controls {
	background: transparent;
	display: inline-block;
	opacity: 0.7;
}

.pad {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: 2px inset #222;
	display: block;
	background: #CCC;
	margin-left: 30px;
}

.pad.left {
}

.pad.right {
	border-radius: 0;
}

.left_knob, .right_knob {
	display: inline-block;
	height: 50px;
	width: 50px;
	border-radius: 100px;
	background: #222;
	position: relative;
	top: 75px;
	left: 75px;
}

.right_knob {
	left: -25px;
}

.fire_btn {
	position: absolute;
    left: 50px;
    top: 46%;
    overflow: hidden;
    height: 40px;
    width: 100px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 50%;
}

.fire_btn button {
	height: 100%;
	width: 100%;
}

.console {
	position: absolute;
	display: none;
    overflow-y: auto;
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    height: 170px;
    width: 420px;
    top: 140px;
    left: 50px;
}

